@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root{
  scroll-behavior: smooth;
}

.container{
width: 98%;
max-width: 1200px;
overflow: hidden;
margin: auto;
padding: 60px 0;
}

header{
  height: 100vh;
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  background-image: linear-gradient(135deg, rgba(229, 231, 238,0.2) 0%, rgba(118, 75, 162,0.8) 100%), url('../img/developer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

.head{
  text-align:center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.menu-icon{
  position: fixed;
  top: 30px;
  right: 30px;
  background:white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:0 0 6px rgba(0, 0, 0, 0.5) ;
}

.navigation{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/*agregar clase extra*/

.spread{
  transform: translate(0);
}
.navigation a{
  color: white;
  text-decoration: none;
}

.tittle{
font-size: 60px;
margin-bottom: 15px;
}
.copy{
font-weight: 300;
font-size: 25px;
}

/*Our Services*/
.subtitle{
text-align: center;
font-weight: 300;
color: #9F8AD0;
margin-bottom: 40px;
font-size: 40px;
}

.container-service{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
}

.container-service img{
width: 40%;
}

.checklist-service{
  width: 45%;
}

.service{
margin-bottom: 20px;
}

.o-service{
margin-bottom: 7px;
color: #9F8AD0;
}

.number{
  display: inline-block;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

.gallery{
background: #F2F2F2;
}
.container-gallery{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.gallery-image{
  object-fit: cover;
width: 30%;
display: block;
margin-bottom: 15px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
cursor: pointer;
}

.image-light{
position: fixed;
background:rgba(0, 0, 0, 0.5);
width: 100%;
height: 100%;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
transform:translate(100%);
transition: transform .2s ease-in-out;
}
.show{
transform:translate(0);
}
.add-image{
object-fit: cover;
width: 60%;
border-radius: 10px;
  transform: scale(0);
  transition: transform .3s .2s;
}

.showImage{
transform: scale(1);


}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

.experts{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.container-expert{
width: 30%;
text-align:center;
margin-bottom: 20px;
}

.container-expert img{
width: 80%;
display: block;
margin: 0 auto;
}

.o-expert{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  font-weight: 400;
}

/*FOOTER*/

footer{
background:#9F8AD0;
padding-bottom: 0.1px;
}

.footer-content{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us{
width: 40%;
color: white;
}

.brand{
font-weight: 500;
font-size: 40px;
}
.brand+p{
  font-weight: 500;
}

.social-media{
  width: 50%;
display: flex;
justify-content: flex-end;
}
.social-media-icon{
display: inline-block;
margin-left: 20px;
width: 60px;
height: 60px;
border:1px solid white;
border-radius: 50%;
text-align: center;
color: white;
}
.social-media-icon:hover{
background: white;
color: #764ba2;
}

.social-media-icon i {
 font-size: 30px;
 line-height: 60px;
}

.line{
width: 90%;
max-width: 1200px;
margin: 0 auto;
height: 2px;
background: white;
margin-bottom: 60px;
}


/*RESPONSIVE*/

@media screen and (max-width:800px) {

.navigation{
  width: 50vw;
}
.tittle{
  font-size: 40px;
}

.container-service img{
width: 80%;
margin-bottom: 40px;
}
.checklist-service{
width: 80%;
}
.service{
  margin-bottom: 30px;
}
}